<div class="">
    <h2 id="updateProfile">Change your profile information here if you like.</h2>

    <form method="post">
        {{#update}}
        <div class="inputFields">
            First Name:<input id="updateFirst" type="text" name="firstname" value="{{firstname}}"/>
            Last Name:<input id="updateLast" type="text" name="lastname" value="{{lastname}}"/>
        </div>
        <div class="inputFields">
            E-Mail:<input id="updateEmail" type="email" name="email" value="{{email}}"/>
            Password:<input id="updatePw" type="password" value="" name="password"/>
        </div>
        <div class="inputFields">
            Age:<input id="updateAge" type="text" name="age" value="{{age}}"/>
            City:<input id="updateCity" type="text" name="city" value="{{city}}"/>
        </div>
        <div class="inputFields">
            Homepage:<input id="updateHomepage" type="text" name="homepage" value="{{homepage}}"/>
            <button id="updateButton">Update</button>
        </div>
        {{/update}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
